<div class="row">
    <div class="col-md-12 section left">
          <h1>1. Install node.js</h1>
          <p class="top-space">Download here <a target="_blank" href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section grey left">
      <h1>2. Play around with command line</h1>
      <p class="top-space">- On window type <code>cmd</code> on run/search box</p>
      <p class="top-space">- Type <code>node</code> on command line, nodejs will runup</p>
      <p class="top-space">- Type <code>var a = 1</code> on command line</p>
      <p class="top-space">- Type <code>a</code> on command line, 1 will show up</p>
      <p class="top-space">- Type <code>var b = 2</code> on command line</p>
      <p class="top-space">- Type <code>a + b</code> on command line, you will get 3</p>
      <p class="top-space">- As you can see, this is look like javascript console but it's run on PC or we can tell it's run on server side</p>
      <hr/>
      <h3>The things that we should know here:</h3>
      <p class="top-space">- We can type <code>global</code> to see global variable</p>
        <p class="top-space">- We can type <code>node -v</code> to see the nodejs version, but if it's in running mode type <code>process.version</code> instead</p>   
      <p class="top-space">- We can type <code>ctrl + C</code> to stop nodejs from running</p>
      <p class="top-space">- Alert command is not working don't worse your time to try it!</p>
      <p class="top-space">- But console.log() still work, YEAHH !</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section left">
          <h1>3. Run basic js file</h1>
          <p class="top-space">- Use command line go to the folder that contain .js file</p>
          <p class="top-space">- Type <code>node [filename].js</code> (without .js still work)</p>
          <p class="top-space">- Let's try on this project, go to folder example</p>
          <p class="top-space">- Type <code>node hello.js</code> then see the result</p>
          <p class="top-space">- Then type <code>node server.js</code> open browser and then go to 127.0.0.1:9000 to see the result</p>
    </div>
</div>