<div class="row">
    <div class="col-md-12 section left">
        <h1>1. What is web server</h1>
        <p class="top-space">
            <strong>web server</strong> is an information technology that processes requests via HTTP, the basic network protocol used to distribute information on the World Wide Web. The term can refer either to the entire computer system, an appliance, or specifically to the software that accepts and supervises the HTTP requests.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section grey left">
        <h1>2. Build simple web server with node.js</h1>
        <p class="top-space">- First thing we must know is, this line of code <code>var http = require('http');</code> it's get http node module from node.js</p>
        <p class="top-space">- The next thing is defind port <code>const port = 8080;</code></p>
        <p class="top-space">- Then create the server and requestListener <code>var server = http.createServer(requestListener);</code></p>
        <p class="top-space">- <code>requestListener</code> is a fuction to receive the request from the client. it's look like this: <code>function requestListener (request, response) { }</code></p>
        <p class="top-space">- The last step is just start the server to listen the request <code>server.listen(port, function () { });</code></p>
        <hr />
        <h3>So, how we going to handle deference path/routes?</h3>
        <p class="top-space">- Nothing special here, just put if else or conditions statement!</p>
        <p class="top-space">- See the file from here <a class="underline white nohover" target="_blank" href="/example/ch2/response-server.js">response-server.js</a>, let's try to run it!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section blue left">
        <h1>3. Dynamic routes</h1>
        <p class="top-space">- Actually this topic is up to your idea and how to apply your knowledge</p>
        <p class="top-space">- This article will show an example of doing dynamic routes by using json file</p>
        <p class="top-space">- First just creat json file name it as routes.json</p>
        <p class="top-space">- Put an array object in to the file like this: <a class="underline white nohover" target="_blank" href="/example/ch2/resources/routes.json">routes.json</a></p>
        <p class="top-space">- Using fs module (File Stream Library) <code>var fs = require('fs');</code></p>
        <p class="top-space">- Read json file <code>var routes = JSON.parse(fs.readFileSync('resources/routes.json', 'utf8'));</code></p>
        <p class="top-space">- Create function to handle request by getting route response from routes object</p>
        <p class="top-space">- See the final code here: <a class="underline white nohover" target="_blank" href="/example/ch2/dynamic-routes.js">dynamic-routes.js</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section left">
        <h1>4. Response files</h1>
        <p class="top-space">- It's similar to response as a text, the difference is jsut response header</p>
        <p class="top-space">- The idea is: read the text in the html file and then response, very simple</p>
        <p class="top-space">- Still using this <code>var fs = require('fs');</code> library</p>
        <p class="top-space">- See the final code here: <a target="_blank" href="/example/ch2/response-file.js">response-file.js</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section grey left">
        <h1>5. Handle http methods (verbs)</h1>
        <p class="top-space">- It's very simple just using this code: <code>request.method</code> in the request handle method</p>
        <p class="top-space">- But the harder part is how we going to get the post data?</p>
        <p class="top-space">- For get the post data using this module: <code>var qs = require('querystring');</code></p>
        <p class="top-space">- How to handle post data see the example here: <a target="_blank" href="/example/ch2/http-method.js">http-method.js</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section blue left">
        <h1>6. Express</h1>
        <p class="top-space">- What is express? Express is one of the popular node module that we use to create webserver</p>
        <p class="top-space">- Official site: <a class="underline white nohover" target="_blank" href="http://expressjs.com/">http://expressjs.com/</a></p>
        <p>- Install: <code>npm install express --save</code></p>
        <p>- See this file to get started: <a class="underline white nohover" target="_blank" href="/example/ch2/express.js">express.js</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 section left">
        <h1>7. Workshop</h1>
        <h3>Create node.js serve that can handle these requirement: </h3>
        <p class="top-space">1. if user request get on url '/' display image with form to input name and telephone number</p>
        <p class="top-space">2. if user request post on url '/' store post data as a json file and response that file back</p>
        <p class="top-space">3. if user request put with any url, then dynamic create that routes (next get request must display whatever that prove this route was created), if it's exist response whatever to let user know</p>
        <p class="top-space">4. if user request delete with any url, delete that url from routes (next get request must display 404), if it's not exist response whatever to let user know</p>
    </div>
</div>