<div class="row">
  <div class="col-md-12 section left">
      <h1>Web project</h1>
      <blockquote class="top-space">On this topic we will talk about web project structure</blockquote>
      <blockquote class="top-space">Test code quality and correction by linter tool before deploy (we can say build like other platform)</blockquote>
      <blockquote class="top-space">Create a unit test for the project</blockquote>
      <blockquote class="top-space">Node module that help us create a web project</blockquote>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section grey left">
      <h1>1. Let's create web project</h1>
      <p class="top-space">- We going to start with create folder on your drive.</p>
      <p class="top-space">- Go to that folder with command line tool</p>
      <p class="top-space">- Start with init npm packages by type <code>npm init</code></p>
      <p class="top-space">- Insatll express <code>npm install express --save</code></p>
      <p class="top-space">- Create 4 folder call images, scripts, css and views <code>mkdir [folder name]</code></p>
      <p class="top-space">- Create file name index.js <code>echo. 2>index.js</code></p>
      <p class="top-space">- Create file name index.html in views/pages folder <code>echo. 2>index.html</code> (first you need to navigate to views/pages directory)</p>
      <p class="top-space">- Open your root folder as a website on visual studio</p>
      <p class="top-space">- Open index.js and write code like this: <a class="underline white nohover" target="_blank" href="example/ch3/resources/index.js">index.js</a> into the file</p>
      <p class="top-space">- Open index.html and write code like this: <a class="underline white nohover" target="_blank" href="example/ch3/resources/index.txt">index.txt</a> into the file</p>
      <p class="top-space">- Final step, run the index.js file <code>node index</code></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section blue left">
      <h1>2. Auto create project</h1>
      <p class="top-space">- If you understand chapter 1, then you can use that knowledge to create your own automate tool!</p>
      <p class="top-space">- On this part the module that we use is file system library <code>var fs = require('fs');</code></p>
      <p class="top-space">- Let's create file js and name it as web.js</code></p>
      <p class="top-space">- See the completed file here <a href="example/ch3/resources/web.js" target="_blank" class="underline white nohover">web.js</a></code></p>
      <p class="top-space">- Try to run it! <code>node web</code></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section left">
      <h1>3. ESLint</h1>
      <p class="top-space">- Official site <a href="http://eslint.org/">http://eslint.org/</a></p>
      <p class="top-space">- What is ESLint? Tool for test code quality and correction</p>
      <p class="top-space">- Install grunt (Required module)<code>npm install -g grunt-cli</code></p>
      <p class="top-space">- Install grunt on project (Required module) <code>npm install grunt --save-dev</code></p>
      <p class="top-space">- Install load-grunt-tasks (Required module) <code>npm install load-grunt-tasks --save-dev </code></p>
      <p class="top-space">- Install eslint <code>npm install grunt-eslint --save-dev</code></p>
      <p class="top-space">- Create gruntfile.js put some code like this <a target="_blank" href="example/ch3/resources/grunt-eslint.js">Gruntfile.js</a></p>
      <p class="top-space">- Setup rules (Copy from example/ch3/resources/config)</p>
      <p class="top-space">- Run eslint by type <code>grunt test</code></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section grey left">
      <h1>4. Unit test with Karma & jasmine</h1>
      <p class="top-space">- Karma official site <a class="underline white nohover" href="http://karma-runner.github.io/">http://karma-runner.github.io/</a></p>
      <p class="top-space">- Jasmine official site <a class="underline white nohover" href="http://jasmine.github.io/">http://jasmine.github.io/</a></p>
      <p class="top-space">- What is Karma? Automate test tool, run unit test for javascript, simulate app environment</p>
      <p class="top-space">- What is Jasmine? Javascript library that help on writing unit test for Javascript platform.</p>
      <p class="top-space">- Install karma <code>npm install grunt-karma --save-dev</code></p>
      <p class="top-space">- Install jasmine for karma<code>npm install karma-jasmine --save-dev</code></p>
      <p class="top-space">- Install chrome browser for karma (optional depend on your setting) <code>npm install karma-chrome-launcher --save-dev</code></p>
      <p class="top-space">- Setup karma.conf.js (Copy from example/ch3/resources/config)</p>
      <p class="top-space">- Setup Gruntfile.js: <a target="_blank" class="underline white nohover" href="example/ch3/resources/grunt-karma.js">Gruntfile.js</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section blue left">
      <h1>5. Yeoman.io</h1>
      <p class="top-space">- official site <a class="underline white nohover" href="http://yeoman.io/">yeoman.io</a></p>
      <p class="top-space">- What is Yeoman.io? one of the popular node module to create web project</p>
      <p class="top-space">- How it work? Like I show you on section [2] but more complex and have more option</p>
      <p class="top-space">- First just install it globally <code>npm install -g yo</code></p>
      <p class="top-space">- Install generator <code>npm install -g generator-webapp</code></p>
      <p class="top-space">- Install grunt <code>npm install -g grunt-cli</code></p>
      <p class="top-space">- Create project type <code>yo webapp</code></p>
  </div>
</div>
<div class="col-md-12 section left">
    <h1>6.Workshop</h1>
    <p class="top-space">- Create web project by using node.js</p>
    <p class="top-space">- The page is display your profile</p>
    <p class="top-space">- The profile should at lease have name, image, email, telephone number (more than this will be great)</p>
    <p class="top-space">- The web page must have save button</p>
    <p class="top-space">- When click save data must save somewhere</p>
    <p class="top-space">- After save on the next reload, page must show the latest save data</p>
</div>