<!DOCTYPE html>
<html>
	<head>
		<title>web project</title>
		<script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container" ng-controller="RootController">
            <nav  class="navbar navbar-default" ng-controller="MenuController" ng-include="menuView"></nav>
            <div>
                <p ng-repeat="item in mylist">{{item.name}}</p>
            </div>
			

			<div ng-tak></div>
			<div class="ng-tak"></div>
			<ng-tak></ng-tak>

            <p>Name: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
            <div id="a">rr</div>
            <textarea ng-model="user.name" ng-change="changed()"></textarea>
            <button ng-click="clicked()">Button</button>
            <div ng-include="include">
            </div>
            <div ng-if="true">Show</div>

		</div>
		<script src="scripts/main.js"></script>
		<script src="scripts/app.js"></script>
		<!-- Services -->
		<script src="scripts/shared/services/menu-service.js"></script>
		<!-- Directives -->
		<script src="scripts/shared/directives/simple-directive.js"></script>
		<!-- Controllers -->
		<script src="scripts/shared/controllers/root-controller.js"></script>
		<script src="scripts/shared/controllers/menu-controller.js"></script>
	</body>
</html>
