<!DOCTYPE html>
<html>
	<head>
		<title>web project</title>
		<script src="node_modules/angular/angular.min.js"></script>
	</head>
	<body ng-app="app">
		<div ng-controller="RootController">
			<nav ng-controller="MenuController"></nav>
			<div ng-tak></div>
			<div class="ng-tak"></div>
			<ng-tak></ng-tak>
		</div>
		<script src="scripts/main.js"></script>
		<script src="scripts/app.js"></script>
		<!-- Services -->
		<script src="scripts/shared/services/menu-service.js"></script>
		<!-- Directives -->
		<script src="scripts/shared/directives/simple-directive.js"></script>
		<!-- Controllers -->
		<script src="scripts/shared/controllers/root-controller.js"></script>
		<script src="scripts/shared/controllers/menu-controller.js"></script>
	</body>
</html>
